/*
 * &copy; Copyright Rana Technologies 2017
 * coded by: muhammad a. mwinchande - muhamm4d, ammwinchande;
 * homepage css customizations*
 */
html,
body {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 82px;
    width: 100%;
    font-family: 'Hind', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Hind', "Helvetica Neue", Helvetica, sans-serif;
}

p {
    font-weight: 300;
    line-height: 26px;
    font-size: 16px;
    color: #333333;
}

hr {
    border-width: 2px;
    max-width: 50px;
    border-color: rgba(255, 255, 255, 0.6);
    margin-top: 0px;
}

a {
    font-stretch: extra-condensed;
    color: #056cd7;
    text-decoration: none;
}

a:hover {
    color: #323232;
}

a:focus, a:active {
    color: #056cd7;
}

.font-primary-color {
    color: #056cd7;
}

.font-secondary-color {
    color: #fa9e04;
}

.text-faded {
    color: rgba(255, 255, 255, 0.9);
}

.text-white {
    color: #ffffff;
}

.text-black {
    color: #333;
}

.text-italic {
    font-style: italic;
}

.btn-default {
    color: #056cd7;
}

.btn-default:hover {
    color: #056cd7;
    background-color: transparent;
    border: 2px solid #adadad;
}

.btn-default:focus {
    color: #056cd7;
    background-color: transparent;
    border: 2px solid #adadad;
}

.btn-default:active {
    color: #056cd7;
    background-color: transparent;
}

.btn-lg {
    border-radius: 0px;
}

.nav-btn {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 0px;
}

.r-no-padding {
    padding: 0;
}

.r-border-primary {
    border-top-color: #51abfb;
}
.r-border-secondary {
    border-top-color: #fa9e04;
}
.r-border-normal {
    border-top-color: #333;
}

.r-primary-background {
    background-color: rgba(5, 108, 215, 0.7);
}

.r-secondary-background {
    background: rgb(250, 158, 4);
}

.r-white-background {
    background-color: #fff;
}

.r-dark-background {
    background: #323232;
}

.r-partners {
    background: #ffffff;
}

.r-partners h3 {
    font-weight: 400;
    font-size: 1.285em;
}

.c-key-benefits ul,
.panel-body {
    font-family: 'Hind', sans-serif, "Helvetica Neue", Arial;
    font-weight: 300;
    line-height: 26px;
    font-size: 16px;
    color: #333333;
}

.c-key-benefits>ul>li>i {
    color: rgba(250, 158, 4, 0.7);
    padding-right: 5px;
}

.panel-group .panel {
    border-radius: 0;
}

.panel-title {
    font-family: 'Hind', sans-serif;
    font-weight: 300;
}

.panel-title>a {
    color: #337ab7;
}

.panel-title>a>i {
    color: rgba(250, 158, 4, 0.7);
    padding-right: 5px;
}

.panel-title>a:active {
    color: #23527c;
    text-decoration: none;
}

.panel-title>a:hover {
    color: #23527c;
    text-decoration: none;
}

.panel-title>a:focus {
    color: #23527c;
    text-decoration: none;
}

/* line if used */

.hr-partners {
    margin-top: 10px;
    border-color: #323232;
}

.navbar-default {
    background-color: #fff;
}

.navbar-default .navbar-nav>li>a {
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #fa9e04;
    background-color: transparent;
    border-bottom: 2px solid #fa9e04;
}

.navbar-default .navbar-nav>li>a:focus {
    color: #fa9e04;
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a {
    color: #fa9e04;
    font-weight: 600;
    border: none;
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a:hover {
    color: #fa9e04;
    background: transparent;
}

.navbar-default .navbar-nav>.active>a:hover {
    color: #fa9e04;
    background: transparent;
}

.navbar-brand {
    height: 79px;
}

.navbar-brand img {
    height: 50px;
}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 50px;
}

/* customize dropdown-menu */

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: transparent;
    color: #fa9e04;
}

/* menu close */

.navbar-toggle {
    border: none;
    margin-top: 23px;
    background: #fff !important;
}

.navbar-toggle:hover {
    background: #fff !important;
}

.navbar-toggle .icon-bar {
    background-color: #000;
    width: 22px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.navbar-toggle .top-bar {
    padding-left: 5px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform-origin: 10% 10%;
    -ms-transform-origin: 10% 10%;
    -webkit-transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
    opacity: 0;
}

.navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform-origin: 10% 90%;
    -ms-transform-origin: 10% 90%;
    -webkit-transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
}

/* end menu close*/

.dropdown-menu {
    width: 100%;
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 1;
    display: none;
    min-width: 160px;
    padding: 5px 0;
    margin: 0 auto;
    text-align: center;
    background: #323232;
    color: #ccc;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0px;
}
.dropdown-menu > li > a {
    color: #ccc;
}
.dropdown-menu > li > a:hover {
    color: #fff;
    font-weight: 400;
    background-color: #323232;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:active {
    color: #fff;
    font-weight: 400;
    background-color: #323232;
}

.dropdown-menu li { display: inline-block; }
.dropdown-menu li.dropdown .dropdown-menu { top: 210px;}

/* collapsing navbar at 992px */

@media (max-width: 1024px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
                box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }
    .navbar-right {
        float: none !important;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .collapsing {
        overflow: hidden !important;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 20px;
    }
    /* allow navbar collapse to occupy all space */
    .navbar-fixed-top .navbar-collapse {
        max-height: 100%;
    }
    /* dropdown-menu */
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu>li>a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    .navbar-nav .open .dropdown-menu>li>a {
        line-height: 20px;
    }
    .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-nav .open .dropdown-menu>li>a:focus {
        background-image: none;
    }
    .navbar-collapse {
        margin-top: 85px;
        /*border: 1px solid #333;*/
    }
    .navbar-default .navbar-nav>li>a:hover {
        color: #fa9e04;
        background-color: transparent;
        border-bottom: transparent;
    }
    .dropdown-menu {
        border: 0;
        width: auto;
        position: static;
        float: none;
        top: 80px;
        left: 0;
        z-index: 1;
        display: none;
        min-width: 160px;
        margin-top: 0;
        background: transparent;
        color: #333;
        -webkit-box-shadow: none;
                box-shadow: none;
        border-radius: 0px;
        padding-left: 5px;
    }
    .dropdown-menu > li > a {
        text-align: left;
        color: #333;
        padding: 5px 15px 5px 25px;
    }
    .dropdown-menu > li > a:hover {
        color: #fff;
        font-weight: 400;
        background-color: #323232;
    }
    .dropdown-menu li { display: block; }
    .dropdown-menu li.dropdown .dropdown-menu { top: 210px;}
}

@media (max-width: 991px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #333;
        background-color: transparent;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus {
        color: #ccc;
        background-color: transparent;
    }
}

.r-promo-block {
    padding-left: 0px;
    padding-right: 0px;
}

.r-promo-block {
    color: #fff;
}

.r-promo-block h1 {
    margin-top: 0;
    font-weight: 600;
    font-size: 46px;
    font-stretch: extra-condensed;
    padding-bottom: 10px;
}

.r-promo-block p {
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-stretch: extra-condensed;
    font-size: 20px;
    font-weight: 300;
}

.breadcrumb {
    background-color: #fff;
}

.breadcrumb li {
    font-size: 16px;
    font-stretch: extra-condensed;
}

.breadcrumb li>a {
    text-decoration: none;
}

.breadcrumb li>a:hover, .breadcrumb > li > a:focus, .breadcrumb > li > a:active {
    text-decoration: none;
    color: #056cd7;
}

.thumbnail {
    background-color: #fff;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

.thumbnail-top-border-primary {
    border-top: 2px solid #056cd7;
}

.thumbnail-top-border-secondary {
    border-top: 2px solid #fa9e04;
}

.thumbnail-top-border-black {
    border-top: 2px solid #333;
}

.caption > h4 > a{
    font-stretch: extra-condensed;
    font-weight: 200;
    text-decoration: none;
    color: #056cd7;
}

.caption > h4 > a:hover {
    font-stretch: extra-condensed;
    font-weight: 200;
    color: #323232;
}

.caption > h4 > a:active, .caption > h4 > a:focus {
    font-stretch: extra-condensed;
    font-weight: 200;
    color: #056cd7;
}

.r-contact-us {
    padding-top: 30px;
    padding-bottom: 40px;
}

.footer-nav {
    background: #323232;
}

.footer-nav h3 {
    font-weight: 500;
    font-size: 23px;
}

.footer-nav h3>a {
    color: #3097D1;
    text-decoration: none;
}

.footer-nav h3>a:hover, .footer-nav h3>a:active, .footer-nav h3>a:focus {
    color: #3097D1;
    text-decoration: none;
}

.footer-nav h4 {
    margin-bottom: 20px;
    font-size: 20px;
}

.footer-nav h4>a {
    color: #f2f2f2;
}

.footer-nav h4>a:hover, .footer-nav h4>a:focus, .footer-nav h4>a:active {
    color: #fff;
    text-decoration: none;
}

.footer-sub-nav ul > li > a {
    text-decoration: none;
    color: #d9d9d9;
    font-size: 16px;
}

.footer-sub-nav ul > li > a:hover, a:focus, a:active {
    color: #fff;
}

.footer > .container-fluid {
    padding-top: 10px;
}

.footer > .container-fluid ul>li {
    font-weight: 400;
}

