/*
 * &copy; Copyright Rana Technologies 2017
 * coded by: muhammad a. mwinchande - muhamm4d, ammwinchande;
 * homepage css customizations*
 */
body {
	background-color: #fff;
}
hr {
	border: .25px solid rgba(0, 0, 0, 0.05);
	max-width: 100%;
}

.r-sub-nav {
	padding-left: 0px;
}

.contact-msg p {
    font-size: 24px;
    font-weight: 100;
    padding-top: 20px;
    padding-bottom: 30px;
}

.pt-15 {
	padding-top: 15px;
}

.pb-15 {
	padding-bottom: 15px;
}

.ptb-15 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.list-commitments h4 {
	color: #333;
	font-weight: 400;
	font-stretch: extra-condensed;
}

.list-commitments ul {
    font-family: 'Hind', sans-serif, "Helvetica Neue", Arial;
    font-weight: 300;
    line-height: 26px;
    font-size: 16px;
    color: #333333;
}

.list-commitments > ul > li > i {
    color: rgba(250, 158, 4, 0.7);
    padding-right: 5px;
}
.c-key-benefits>ul>li {
    padding-top: 5px;
    font-size: 16px;
    font-weight: 100;
}

.r-form-block {
    background: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Hind', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-group {
    padding-left: 40px;
    padding-right: 40px;
}

.r-form-block label,
.form-control {
    font-weight: 300;
    font-size: 16px;
}

.form-group .form-control {
    border-radius: 0px;
    font-size: 16px;
}

.r-address-block address {
    color: #333;
    padding-top: 80px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Hind', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

address a {
    color: #056cd7;
}

address a:hover,
a:focus {
    color: #056cd7;
}