/*
 * &copy; Copyright Rana Technologies 2017
 * coded by: muhammad a. mwinchande - muhamm4d;
 * homepage css customizations
 */

.carousel-inner>.item>img {
    width: 100%;
    height: 500px;
}

.carousel-caption {
    bottom: 0px;
    top: 160px;
    text-align: left;
    font-family: 'Hind';
}

.carousel-caption h1 {
    font-weight: bolder;
    font-size: 46px;
}

.carousel-caption p {
    padding-top: 25px;
    font-size: 20px;
    font-weight: 500;
}

/* blocks */

.r-summary-block {
    padding-top: 30px;
}

.r-block-padding {
    padding-top: 30px;
}

.r-block-c {
    margin-top: 20px;
    background-color: #ffffff;
}

.r-block-c-footer a {
    color: #056cd7;
}

.r-block-c-footer a:hover {
    color: #323232;
    text-decoration: none;
}

.r-block-c-footer a:focus, .r-block-c-footer a:active {
    color: #056cd7;
}

.r-border-on {
    border-width: 2px;
    border-style: solid;
}

.r-border-top-on {
    border-top-width: 2px;
    border-top-style: solid;
}

.r-solutions-block {
    margin-top: 50px;
}

.r-solutions-block>.row {
    padding-left: -15px;
    padding-right: -15px;
}

.s-title p {
    font-size: 32px;
    font-weight: 200;
    padding-top: 60px;
    padding-bottom: 30px;
}

.r-from-us {
    margin-top: 50px;
    background-color: #ffffff;
    padding-bottom: 50px;
}

.r-from-us h3 {
    font-family: 'Hind', sans-serif;
    font-weight: 300;
}

/* h3 section heading */

.r-section-heading {
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
}

.r-testimonials {
    background: #323232;
    color: #ffffff;
    padding-bottom: 50px;
}

.r-sub-title {
    color: #fff;
    font-size: 1.285em;
}

.r-testimonial-content blockquote {
    border-left: none;
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 0px;
    padding-bottom: 15px;
}

.r-testimonial-content p {
    color: #fff;
}

cite {
    font-style: normal;
}

.r-contact-us h3 {
    color: #fff;
}

.r-hr-contact-us {
    border-color: #fff;
    border-width: 2px;
}

.r-form-block {
    background: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 5px solid rgba(5, 108, 215, 0.8);
    font-family: 'Hind', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-group {
    padding-left: 40px;
    padding-right: 40px;
}

.r-form-block label,
.form-control {
    font-weight: 300;
    font-size: 16px;
}

.form-group .form-control {
    border-radius: 0px;
    font-size: 16px;
}

.r-address-block address {
    color: #fff;
    padding-top: 80px;
    padding-left: 30px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Hind', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

address a {
    color: rgba(255, 255, 255, 0.8);
}

address a:hover,
a:focus {
    color: rgba(255, 255, 255, 1);
}

