html,
body {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}

/* icon-bar horizontal style 
.icon-bar {
	width: 100%;
	background: #000;
	overflow: auto;	/* Overflow due to float 
}

.icon-bar a {
	float: left;
	text-align: center;
	width: 20%;
	transition: all 0.3s ease;
	color: white;
	font-size: 36px;
}
*/
.icon-bar a:hover {
	background-color: #333;
}

.active {
	background-color: #444;
}


/* icon-bar vertical */
.icon-bar {
	width: 90px;
	background: #555;
}

.icon-bar a {
	display: block;
	text-align: center;
	padding: 12px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	color: white;
	font-size: 36px;
}

/* mobile menu icon */
.container {
	display: inline-block;
	cursor: pointer;
}

.top-bar .mid-bar .bot-bar {
	width: 35px;
	height: 5px;
	background: #333;
	margin: 6px 0;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

/* rotate first bar */
.change .top-bar {
	-webkit-transform: rotate(-45deg) translate(-9x 6px);
	transform: rotate(-45deg) translate(-9x 6px);
}
.change .mid-bar {
	opacity: 0;	/* fadeout second bar */
}

.change .bot-bar {
	-webkit-transform: (45deg) translate(-8px, -8px);
	 transform: (45deg) translate(-8px, -8px);
}